body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding: 0;
    margin: 0;

    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #555;
}

h1, h2, h3 {
    color: #333;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    margin: 12px 0;
}

/* Gluing p and ul together */
p:has(+ ul) {
  margin-bottom: 0;
}

ul {
  margin-top: 0px;
  margin-bottom: 12px;
}

li > p:first-child {
  margin-top: 0;
}

li > p:last-child {
  margin-bottom: 0;
}

/* inline code style */
:not(pre) > code{ 
    background: RGBA(0, 34, 128, 0.12);
    color: #1d2331;
    padding: 1px 3px;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-wrapper {
    flex-grow: 1; /* main takes all the empty space */

    margin-top: calc(1rem + 12px); /* making space for the header */
    padding: 24px 6px;
}

/* gridbar3 is mainly for the header and the footer */
.gridbar3 {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) auto minmax(max-content, 1fr);
    align-items: center;

    max-width: 806px; /* 800 with padding */
    padding: 0 6px;
    margin: 0 auto;
}

.gridbar3-1 {
    grid-column: 1;
}

.gridbar3-2 {
    grid-column: 2;
    text-align: center;
    padding: 0 24px;
}

.gridbar3-3 {
    grid-column: 3;
    text-align: end;
}
