<div id="chatbot">
    <div id="opened-chatbot" class="bottom-left gray-glass">
        <div class="chat-header gridbar3">
            <div id="chatbot-info-container" class="gridbar3-1">
                <svg width="14" height="14">
                    <title id="chatbot-info"></title>
                    <use href="{{ url_for('static', path='icons/icons-sprite.svg#info') }}"></use>
                </svg>
            </div>
            <div class="gridbar3-2">{{ locale.chatbot.title }}</div>
            <div id="minimize-chatbot-container" class="gridbar3-3 chatbot-size-toggle">
                <svg id="minimize-chatbot" width="14" height="14">
                    <use href="{{ url_for('static', path='icons/icons-sprite.svg#minimize') }}"></use>
                </svg>
            </div>
        </div>
        <div id="chat-messages" class="chat-messages">
            <div class="chat-message assistant">{{ locale.chatbot.greeting }}</div>
        </div>
        <div class="chat-prompt">
            <input id="chat-prompt" type="text" placeholder="Message" />
            <button id="chat-button">{{ locale.chatbot.send }}</button>
        </div>
    </div>

    <div id="closed-chatbot" class="bottom-left gray-glass chatbot-size-toggle">
        <svg width="14" height="14">
            <use href="{{ url_for('static', path='icons/icons-sprite.svg#maximize') }}"></use>
        </svg>
    </div>
</div>
