<footer>
    <div class="gridbar3">
        <div class="copyright gridbar3-1">
            © {{ current_year() }} Mathieu Duchesneau
        </div>
        <div class="contact gridbar3-2">
            <a href="https://scholar.google.ca/citations?hl=en&pli=1&user=i-ydcvoAAAAJ" target="_blank">
                <svg width="12" height="12" fill="currentColor">
                    <use href="{{ url_for('static', path='icons/icons-sprite.svg#google-scholar') }}"></use>
                </svg>
            </a>
            <a href="https://github.com/duchesneaumathieu" target="_blank">
                <svg width="12" height="12" fill="currentColor">
                    <use href="{{ url_for('static', path='icons/icons-sprite.svg#github') }}"></use>
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/mathieu-duchesneau-047a0b307/" target="_blank">
                <svg width="12" height="12" fill="currentColor">
                    <use href="{{ url_for('static', path='icons/icons-sprite.svg#linkedin') }}"></use>
                </svg>
            </a>
        </div>
        <div class="version gridbar3-3">
            Version: {{ app_version() }}
        </div>
    </div>
</footer>
