<header>
    <div class="gridbar3">
        <div class="trademark gridbar3-1">
            <a href="/{{ lang }}/home">Mathieu Duchesneau</a>
        </div>

        <nav class="gridbar3-2">
            <a href="/{{ lang }}/blog">Blog</a>
            <a href="/{{ lang }}/grafana">Grafana</a>
            <a href="/{{ lang }}/mlflow">MLflow</a>
        </nav>

        <div class="language-toggle gridbar3-3">
            <a href="/{{ other_lang_path }}/"> {{ other_language }} </a>
        </div>
    </div>
</header>
