<header>
    <div class="gridbar3">
        <div class="trademark gridbar3-1">
            <a href="/{{ locale.lang }}/home">Mathieu Duchesneau</a>
        </div>

        <nav class="gridbar3-2">
            <a href="/{{ locale.lang }}/blog">{{ locale.blog }}</a>
            <a href="{{ services.grafana.url }}" target="_blank" rel="noopener noreferrer">{{ services.grafana.name }}</a>
            <a href="{{ services.mlflow.url }}" target="_blank" rel="noopener noreferrer">{{ services.mlflow.name }}</a>
        </nav>

        <div class="language-toggle gridbar3-3">
            <a href="/{{ locale.switch_href }}"> {{ locale.switch }} </a>
        </div>
    </div>
</header>
