<!DOCTYPE html>
<!-- templates/base.html -->
<html lang={{ locale.lang }}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="chatbot-url" name="chatbot-url" content="{{ services.chatbot.url }}">
    <title>{% block title %}Mathieu Duchesneau{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/partial.css">
    {% block head %}<link rel="stylesheet" href="/static/css/default.css">{% endblock %}
</head>
<body>
    {% include "partials/header.html" %}
    
    <div class="page-wrapper">
        <main>{% block main %}{% endblock %}</main>
        
        {% include "partials/chatbot.html" %}
    </div>
    
    {% include "partials/footer.html" %}
    
    <script src="/static/js/script.js"></script>
</body>
</html>
