<!-- templates/base.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mathieu Duchesneau - Resume and Portfolio{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    {% include "partials/header.html" %}
    
    <div class="page-wrapper">
        <main>{% block main %}{% endblock %}</main>
        
        {% include "partials/chatbot.html" %}
    </div>
    
    {% include "partials/footer.html" %}
    
    <script src="/static/js/script.js"></script>
</body>
</html>

