{% extends "base.html" %}

<!-- templates/home.html -->
{% block main -%}
<h1>Official Website</h1>
<section id="about">
    <h2>About Me</h2>
    <p>I was born in 1993 in Montréal, ...</p>
</section>

<section id="thesis">
    <h2>My PhD. Thesis</h2>
    <p>My PhD. thesis is entitled "Learning Equivalence Hash Functions" ...</p>
</section>

<section id="projects">
    <h2>Projects</h2>
    <p>This website is my first online project.</p>
</section>

<section id="Hobbies">
    <h2>Hobbies</h2>
    <p>I love rock climbing.</p>
</section>

<section id="Lorem Ipsum">
    <h2>Lorem Ipsum</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
</section>
{%- endblock %}
